- Routers:
{% for entry in extra_hosts %}
    - {{ entry.display_name }}:
        href: https://{{ entry.domain_name }}
        icon: "{{ entry.icon }}.png"
        description: "{{ entry.description }}"
{% endfor %}