all:
  children:
    workstations:
      hosts:
        localhost:
          ansible_conection: local
    vps:
      hosts: 
        user@192.168.23.200:
          username: user
          ip: 192.168.23.200

    home_server:
      hosts: 
        user@192.168.23.200:
            username: user
            ip: 192.168.23.200


