---
- name: Create the config folder
  ansible.builtin.file:
    path: "{{ docker_dir }}/home-assistant"
    owner: "{{ ansible_user }}"
    state: directory
    group: 101
    mode: 0775

- name: Verify if Traefik container (reverse proxy) is running
  community.docker.docker_container_info:
    name: traefik
  register: traefik_info

- name: Copy the configuration.yaml file for Reverse Proxy setup
  ansible.builtin.blockinfile:
    block: |
      http:
        use_x_forwarded_for: true
        trusted_proxies:
          - {{ traefik_info.container.NetworkSettings.Networks.docker.IPAddress }}
      # Configure a default setup of Home Assistant (frontend, api, etc)
      default_config:
    dest: "{{ docker_dir }}/home-assistant/configuration.yaml"
    create: true
    insertbefore: BOF
    group: 101
    mode: 0775
  when: traefik_info.exists and traefik_info.container.State.Status == "running"

- name: Create and run Home Assistant container
  community.docker.docker_container:
    image: "lscr.io/linuxserver/homeassistant"
    name: "homeassistant"
    restart: true
    env:
      "PUID": "1000"
      "PGID": "1000"
      "UMASK": "002"
      "TZ": "America/Sao_Paulo"
    volumes:
      - "{{ docker_dir }}/home-assistant:/config"
    network_mode: "host"
    labels:
      traefik.http.routers.homeassistant.rule: Host(`homeassistant.{{ domain_name }}`)
      traefik.http.routers.homeassistant.entrypoints: https
      traefik.http.routers.homeassistant.tls: "true"
      traefik.http.services.homeassistant.loadbalancer.server.port: "8123"

      homepage.name: "Home Assistant"
      homepage.group: "Main Apps"
      homepage.href: "http://homeassistant.{{ domain_name }}"
      homepage.description: "Smart Home Control Hub"
      homepage.icon: "home-assistant.png"
    restart_policy: unless-stopped

- name: Add CNAME entry for homeassistant
  ansible.builtin.import_role:
    name: pihole
    tasks_from: add_cname_record.yml
  vars:
    subdomain: homeassistant
